/*
PLTTS http://pltts.me/palettes/629637
*/

body{
	font-family: sans-serif;
	font-size: 0.9em;
}

.max-width{
	position: relative;
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
}
.form{
	padding: 50px 0;
}
	.fromDB,
	.toDB{
		border: 1px solid #ddd;
		border-radius: 2px;
		padding: 20px;
		position: relative;
	}
	.toDB{
		margin-top: 20px;
	}
		.fromDB::before,
		.toDB::before{
			position: absolute;
			font-weight: bold;
			font-size: 0.8em;
			padding: 0 5px;
			color: #ddd;
			background-color: #FFF;
			top: -5px;
			left: 10px;
		}
		.fromDB::before{
			content: "FROM";
		}
		.toDB::before{
			content: "TO";
		}

		.formLine{
			display: inline-block;
			vertical-align: top;
			width: 23%;
			margin: 0 1%;
		}
			label{
				display: block;
				color: #aaa;
				font-size: 0.9em;
				padding:0 0 5px;
			}
				label::before{
					color:#FE4365;
				}

			input{
				border:1px solid #aaa;
				border-radius: 2px;
				padding: 8px;
				width: 100%;
				-webkit-box-sizing:border-box;
				-moz-box-sizing:border-box;
				box-sizing:border-box;
			}

		.formActionLine{
			text-align: right;
			padding: 20px calc(1% + 20px);
			border: 1px solid transparent;
		}
			.btn{
				display: inline-block;
				border-radius: 2px;
				background-color: #DDD;
				color: #444;
				padding: 12px 15px;
				border:0;
				font-size: 0.9em;
				cursor: pointer;
				transition:box-shadow 200ms;
			}
				.btn:hover,
				.btn:focus{
					box-shadow: 0 0 0 50px rgba(0,0,0,0.1) inset;
				}
			.btn + .btn{
				margin-left: 10px;
			}
			.btn-main{
				background-color: #FE4365;
				color: #FFF;
			}


.results{
}
	.post{
		position: relative;
		padding: 10px;
		border-bottom: 1px solid #fff;
		background-color: #f8f8f8;
	}
	.post:hover,
	.post:focus{
		background-color: #eee;
	}
		.post-title{
			font-weight: bold;
		}
		.post-content{
			color: #888;
			font-size: 0.8em;
			font-style:italic;
			padding: 5px 0 0 10px;
		}
